html {
  background-color: lightblue;
}

body {
  color: white;
}

header {
  text-align: center;
  border-bottom: 1px inset gray;
}

header h1 {
  font-style: italic;
  color: green;
  /*border: 1px solid black;*/
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  border-bottom-width: 4px;
  border-radius: 8px;
}

header img {
  width: 300px;
}

p,
h1 {
  color: red;
  /*color: green;*/
  /*text-align: justify;*/
}