header {
  font-size: 2em;
}

h1 {
  font-size: 2rem;
  font-weight: boldest;
}

h2 {
  font-size: 1em;
  background-color: lightblue;
}

/*h2 {
  background-color: pink;
}*/

h4 {
  color: purple;
}

header {
  text-align: center
}
