{
  "extends": "eslint:recommended",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-var": "error",
    "eqeqeq": "error",
    "wrap-iife": "error"
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
