table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 1em;
}

.form-group {
  margin-bottom: .5em;
}

.form-group label {
  display: inline-block;
  width: 3em;
}

#addContactForm {
  display: none;
}

#addContactForm {
  background-color: lightcyan;
  border: 1px solid black;
  padding: 1em;

  width: 15em;
  height: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4.5em;
  margin-left: -7.5em;
}
