ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}
