body {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
  text-align: center;
}
