p {
  color: violet;
}

header {
  text-align: center;
}

header {
  font-size: 32px;
}

h1 {
  /*font-size: 96px;*/
  /*font-size: 3em;*/
  /*font-size: 3rem;*/
  font-size: 300%;

  font-weight: lighter;
}
