.post {
  margin-bottom: 0.5em;
}

.post .title {
  font-style: italic;
}

.comments-area {
  border: 1px solid black;
}

.comments {
  transition: max-height 1s;
  max-height: 350px;
  overflow: hidden;
}

.closed {
  max-height: 0;
}
