.menu-item {
  border: 3px solid red;
  margin-bottom: .5em;
  border-radius: 8px;

  box-shadow: 4px 4px 4px 4px green, -4px -4px 4px 4px blue;

  /*height: 24em;*/
  /*overflow: auto;*/
  /*clear: left*/

  display: inline-block;
}

.out-of-stock {
  background-color: yellow;
}

.menu-item img {
  float: left;
  padding: 1em;
}

/*.clear-fix {
  clear: both;
}*/
