p {
  font-style: italic;
}

.menu-item img {
  float: left;
  margin: 1em;
  rotate: 3deg;
}

.menu-item img:hover {
  scale: 1.5;
}

.menu-item {
  /*overflow: auto;*/
  display: inline-block;
}

/*section {
  clear: left;
}*/

.clear-fix {
  clear: both;
}
