html {
  background-color: white;
}

body {
  padding: 1em;
  background-color: black;
  color: white;
  /*width: 800px;*/
  max-width: 800px;
  /*width: 80%;*/
  margin: auto;
}

header {
  text-align: center;
  border: 8px solid red;
  border-color: green;
  /*border-style:dashed;*/
  border-radius: 8px;
}

header img {
  border-radius: 100px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: gray;
}

/* hover pseudo-class */
a:hover {
  color: red;
  text-decoration: underline;
}

a:focus {
  color: blue;
}

a:active {
  color: orange
}

/*html {
  font-size: 62.5%;
}

article {
  font-size: 2em;
}

p {
  font-size: 3rem
}*/

img {
  display: inline-block;
  /*width: 500px;* /
  height: 20em;*/
}

.container {
  padding-bottom: .5em;
  border-bottom: 1px solid black;
}

.error {
  background-color: red;;
}
