@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

html {
  background-color: white;
}

body {
  padding: 1em;
  background-color: black;
  color: white;
  /*width: 800px;*/
  /*max-width: 800px;*/
  /*width: 80%;*/
  margin: auto;
}

header {
  text-align: center;
  border: 8px solid red;
  border-color: green;
  /*border-style:dashed;*/
  border-radius: 8px;

  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(198, 173, 240, 1) 49%, rgba(148, 187, 233, 1) 100%);

  opacity: .8;

  cursor: pointer;
}

header h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header img {
  border-radius: 100px;
}

a {
  font-family: 'Manufacturing Consent';
  font-size: 1.5em;
  color: rgb(111, 52, 228, .5);
  text-decoration: none;
}

a:visited {
  color: gray;
}

/* hover pseudo-class */
a:hover {
  color: red;
  text-decoration: underline;
}

a:focus {
  color: blue;
}

a:active {
  color: orange
}

/*html {
  font-size: 62.5%;
}

article {
  font-size: 2em;
}

p {
  font-size: 3rem
}*/

img {
  display: inline-block;
  /*width: 500px;* /
  height: 20em;*/
}

.container {
  padding-bottom: .5em;
  border-bottom: 1px solid black;
}

.error {
  background-color: red;
}

header h2{
  color: #572be7BB;
}

 #toTop {
   position: fixed;
   color: red;
   background-color: yellow;
   top: 0;
   /* left: 84px; */
   margin-left: -115px;
   padding: 0 .2em;
 }

@media screen and (600px <= width) {
  body {
    width: 80%;
  }
}
